<h2><%= @restaurant.name %></h2>
<ul>
  <li>Address: <%= @restaurant.address %></li>
  <li>Phone number: <%= @restaurant.phone_number %></li>
  <li>Category: <%= @restaurant.category %></li>
  <%= link_to "Read reviews", restaurant_reviews_path(@restaurant) %>
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
  <%= link_to "Back to restaurant list", restaurants_path %>
</ul>
